<button data-action="click->turbo-component#handle" data-turbo-component-action-param="create_todo" class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">+
  Create
</button>

<ul role="list" class="-mx-2 space-y-1">
  <% todos.each_with_index do |r, i| %>
    <li class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">
      <%= r %>

      <button data-action="click->turbo-component#handle"
              data-turbo-component-action-param="destroy_todo"
              data-turbo-component-action-params-param="<%= [i] %>"
              class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Delete
      </button>

    </li>
  <% end %>
</ul>
